name: Build PDF for JOSS paper

on:
  push:
    branches:
      - "paper"

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Build Paper
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@85a18372e48f551d8af9ddb7a747de685fbbb01c
        with:
          journal: joss
          # This should be the path to the paper within your repo.
          paper-path: paper/paper.md
      - name: Upload
        uses: actions/upload-artifact@v6
        id: upload-paper
        with:
          name: paper
          # This is the output path where Pandoc will write the compiled
          # PDF. Note, this should be the same directory as the input
          # paper.md
          path: paper/paper.pdf
      - name: Install Python dependencies
        run: pip install github3.py
      - name: Create custom status
        shell: python {0}
        run: |
          import os
          from github3 import login

          token = "${{ github.token }}"
          gh = login(token=token)

          owner, repo_name = "${{ github.repository }}".split('/')
          repo = gh.repository(owner, repo_name)

          sha = "${{ github.event.pull_request.head.sha }}"
          state = "success"
          target_url = "${{ steps.upload-paper.outputs.artifact-url }}"
          description = "Download PDF"
          context = "${{ github.workflow }} / Preview"
          repo.create_status(sha, state, target_url, description, context)
