name: CI

on:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/CI.yml"
      - "ext/**"
      - "src/**"
      - "test/**"
      - "Project.toml"
  pull_request:
    paths:
      - ".github/workflows/CI.yml"
      - "ext/**"
      - "src/**"
      - "test/**"
      - "Project.toml"
  release:
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        version:
          - "min"
          - "1.12.2"
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - "default"
        exclude:
          - version: "min"
            os: windows-latest
        include:
          - version: "1.12.2"
            os: self-hosted
            arch: "default"
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
        id: julia-cache
      - name: "Set test arguments and other environment variables"
        shell: bash
        run: |
          # Run tests in verbose mode
          TEST_ARGS=(--verbose)

          if [[ ${{ matrix.os }} == "self-hosted" ]]; then
              # When running the tests on a GPU node we always want to make sure
              # CUDA is functional.
              echo "BREEZE_ENSURE_CUDA_FUNCTIONAL=true" >> "${GITHUB_ENV}"
          fi

          if [[ ${{ runner.os }} == "macOS" ]]; then
              # Encourage ParallelTestRunner to use two jobs on macOS, rather
              # than the single one it'd use by default.
              TEST_ARGS+=(--jobs=2)
          fi
          echo "runtest_test_args=${TEST_ARGS[@]}" >> "${GITHUB_ENV}"
      - uses: julia-actions/julia-runtest@v1
        with:
          coverage: true
          test_args: ${{ env.runtest_test_args }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
        continue-on-error: true
      - name: Save Julia depot cache on cancel or failure
        id: julia-cache-save
        if: cancelled() || failure()
        uses: actions/cache/save@v5
        with:
          path: |
            ${{ steps.julia-cache.outputs.cache-paths }}
          key: ${{ steps.julia-cache.outputs.cache-key }}
