name: Documentation

on:
  push:
    branches:
      - '**'
    tags: "*"
    paths:
      - ".github/workflows/Documentation.yml"
      - "docs/**"
      - "examples/**"
      - "src/**"
      - "Project.toml"
      - "CHANGELOG.md"
  pull_request:
    paths:
      - ".github/workflows/Documentation.yml"
      - "docs/**"
      - "examples/**"
      - "src/**"
      - "Project.toml"
      - "CHANGELOG.md"
  release:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docs:
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1.12"
      - uses: julia-actions/cache@v2
        id: julia-cache
      - name: Instantiate docs environment
        shell: julia --color=yes --project=docs {0}
        run: |
          using Pkg
          Pkg.instantiate()
      - name: Build documentation
        run:
          julia --color=yes --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Save Julia depot cache on cancel or failure
        id: julia-cache-save
        if: cancelled() || failure()
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ steps.julia-cache.outputs.cache-paths }}
          key: ${{ steps.julia-cache.outputs.cache-key }}
      - uses: actions/upload-artifact@v5
        with:
          name: documentation-build
          path: docs/build
          retention-days: 10
